<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Админская панель управления</title>
	</head>
	<body>
		Йа админко!<br>
		Список точек:
		<ul>
			{{pointsList}}
		</ul>
		Добавить точку:
		<form method="post" action="/adminsetcheckin">
			Широта: <input name="lat"></input><br>
			Долгота: <input name="long"></input><br>
			Размер: <input name="eps" value="5.0"></input><br>
			Вес: <input name="weight" value="100.0"></input><br>
			Принадлежность: <input name="belongs" value="nobody"></input><br>
			<input type="submit">
		</form>
	</body>
</html>